<div class= "container">
  <div class="jumbotron">
    <h1>GitHub Search</h1>
  </div>
  <app-profile-form></app-profile-form>
  <a href="{{user.html_url}}" class="btn btn-primary" id="view">Check</a>
  <div class="col-md-6">
    <table>
    <tr>
     <td >Github username: </td>
     <td class="label">{{user.login}}</td>
    </tr>
    <tr>
     <td >Repositories: </td>
     <td class="label">{{user.public_repos}}</td>
    </tr>
    <tr>
      <td >following: </td>
      <td class="label">{{user.public_repos}}</td>
     </tr>
     <tr>
      <td >followers: </td>
      <td class="label">{{user.public_repos}}</td>
     </tr>
     <tr>
      <td >Create at: </td>
      <td class="label">{{user.public_repos}}</td>
     </tr>
   </table>
  </div>
</div>
 
  


 

