h1{
    text-align: center;
    font-weight: bolder;
}
a{
    margin-left: 10px;
}
.label{
    text-align: center
   }
.jumbotron{
    text-align: center;
    background-color: rgb(243, 231, 231);
    color: rgb(132, 189, 238);
}
table{
    border: 4px solid rgb(243, 231, 231);
    border-collapse: collapse;
    border-style: outset;
    border-width:5px;
    width:100%;
    height: 100%;
    text-align: center;
  }
  td{
    text-align: left;
    padding: 10px;
   }

  
   
  
   